# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- List of popular languages that Data Scientists use
- List of commonly used libraries used by Data Scientists
- Table with Data Science Tools
- Arithmetic expressions in Python

## Author
Gunilla Rudander

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Keras

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| VS Code                  |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60.

In [2]:
min=200
hours=min/60
print(hours, " hours")

3.3333333333333335  hours